# Importation des libraires

In [1]:
import pandas as pd

# Chargement du fichier source

In [2]:
df_avril = pd.read_csv('Velib_Avril_2022.csv')

In [50]:
df_avril.shape

(4905793, 14)

In [51]:
df_avril.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4905793 entries, 0 to 4905792
Data columns (total 14 columns):
 #   Column                       Dtype
---  ------                       -----
 0   name                         object
 1   stationcode                  object
 2   ebike                        int64
 3   mechanical                   int64
 4   coordonnees_geo              object
 5   duedate                      object
 6   numbikesavailable            int64
 7   numdocksavailable            int64
 8   capacity                     float64
 9   is_renting                   object
 10  is_installed                 object
 11  nom_arrondissement_communes  object
 12  is_returning                 object
 13  ping_time                    object
dtypes: float64(1), int64(4), object(9)
memory usage: 524.0+ MB

In [52]:
df_avril.head()

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
0,Toudouze - Clauzel,9020,4,1,"[48.87929591733507, 2.3373600840568547]",2022-04-01T00:03:23+02:00,5,16,21.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01
1,Lacépède - Monge,5110,6,9,"[48.84389286531899, 2.3519663885235786]",2022-04-01T00:02:04+02:00,15,8,23.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01
2,Mairie du 12ème,12109,12,15,"[48.84085531176338, 2.3875549435615544]",2022-04-01T00:04:03+02:00,27,0,30.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01
3,André Karman - République,33006,6,3,"[48.91039875761846, 2.3851355910301213]",2022-04-01T00:00:45+02:00,9,20,31.0,OUI,OUI,Aubervilliers,OUI,01/04/2022 00:14:01
4,Harpe - Saint-Germain,5001,6,26,"[48.85151881501689, 2.343670316040516]",2022-04-01T00:04:27+02:00,32,13,45.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01

In [53]:
df_avril.isnull().sum()

name                           20
stationcode                     0
ebike                           0
mechanical                      0
coordonnees_geo                20
duedate                         0
numbikesavailable               0
numdocksavailable               0
capacity                       20
is_renting                      0
is_installed                    0
nom_arrondissement_communes    20
is_returning                    0
ping_time                       0
dtype: int64

In [54]:
df_avril.loc[df_avril['name'].isnull()]

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
2992582,NaN,24010,0,0,NaN,2022-04-21T17:43:43+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:20:01
2992584,NaN,41304,0,0,NaN,2022-04-21T17:51:39+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:20:01
2992631,NaN,1201,0,0,NaN,2022-04-21T17:41:02+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:20:01
2992635,NaN,51007,0,0,NaN,2022-04-21T17:57:45+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:20:01
2993982,NaN,1201,0,0,NaN,2022-04-21T17:41:02+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:30:01
2993986,NaN,51007,0,0,NaN,2022-04-21T17:57:45+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:30:01
2994052,NaN,24010,0,0,NaN,2022-04-21T17:43:43+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:30:01
2994053,NaN,41304,0,0,NaN,2022-04-21T17:51:39+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:30:01
2995386,NaN,24010,0,0,NaN,2022-04-21T17:43:43+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:40:01
2995390,NaN,41304,0,0,NaN,2022-04-21T17:51:39+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:40:01
2995470,NaN,1201,0,0,NaN,2022-04-21T17:41:02+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:40:01
2995472,NaN,51007,0,0,NaN,2022-04-21T17:57:45+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:40:01
2996843,NaN,24010,0,0,NaN,2022-04-21T17:43:43+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:50:01
2996847,NaN,41304,0,0,NaN,2022-04-21T17:51:39+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:50:01
2996871,NaN,1201,0,0,NaN,2022-04-21T17:41:02+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:50:01
2996875,NaN,51007,0,0,NaN,2022-04-21T17:57:45+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 18:50:01
2998265,NaN,1201,0,0,NaN,2022-04-21T17:41:02+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 19:00:01
2998269,NaN,51007,0,0,NaN,2022-04-21T17:57:45+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 19:00:01
2998285,NaN,24010,0,0,NaN,2022-04-21T17:43:43+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 19:00:01
2998287,NaN,41304,0,0,NaN,2022-04-21T17:51:39+02:00,0,0,NaN,NON,NON,NaN,NON,21/04/2022 19:00:01

Nous avons remarqué que ces stations n'ont pas encore était installé et qu'elles ne nous apportent pas plus d'informations. De ce fait, nous avons décidé de les supprimer.

In [3]:
df_avril = df_avril.dropna()

In [4]:
df_avril.isnull().sum()

name                           0
stationcode                    0
ebike                          0
mechanical                     0
coordonnees_geo                0
duedate                        0
numbikesavailable              0
numdocksavailable              0
capacity                       0
is_renting                     0
is_installed                   0
nom_arrondissement_communes    0
is_returning                   0
ping_time                      0
dtype: int64

In [6]:
df_avril['ping_time'].str[:10].unique()

array(['01/04/2022', '07/04/2022', '08/04/2022', '09/04/2022',
       '10/04/2022', '11/04/2022', '12/04/2022', '13/04/2022',
       '14/04/2022', '15/04/2022', '16/04/2022', '17/04/2022',
       '18/04/2022', '19/04/2022', '20/04/2022', '21/04/2022',
       '22/04/2022', '23/04/2022', '24/04/2022', '25/04/2022',
       '26/04/2022', '27/04/2022', '28/04/2022', '29/04/2022',
       '30/04/2022', '01/05/2022', '02/05/2022', '03/05/2022',
       '04/05/2022', '05/05/2022', '06/05/2022', '07/05/2022',
       '08/05/2022', '09/05/2022', '10/05/2022', '11/05/2022',
       '12/05/2022', '13/05/2022', '14/05/2022', '15/05/2022',
       '16/05/2022', '17/05/2022', '18/05/2022', '19/05/2022',
       '20/05/2022', '21/05/2022', '22/05/2022', '23/05/2022',
       '24/05/2022', '25/05/2022', '26/05/2022', '27/05/2022',
       '28/05/2022', '29/05/2022', '30/05/2022', '31/05/2022',
       '01/06/2022', '02/06/2022', '03/06/2022', '04/06/2022',
       '05/06/2022', '06/06/2022', '07/06/2022', '08/06/2022',
       '09/06/2022'], dtype=object)

On remarque que nous avons des problèmes de récupération de données. Pour des collectes qui ont été faite en mai ou en juin des échantillons d'avril ont été fourni. Nous faisons le choix de supprimer ces lignes suplémentaire qui apporte un biais à notre dataset.

In [7]:
#ping time différents d'avril
index_hors_avril = df_avril.loc[df_avril['ping_time'].str[3:-14] != '04'].index
df_avril=df_avril.drop(index_hors_avril)

In [8]:
df_avril.shape

(4876231, 14)

## Remarque

In [9]:
df_avril.groupby('ping_time')['stationcode'].count().sort_values()

ping_time
01/04/2022 00:24:01     971
01/04/2022 00:54:01     971
01/04/2022 00:14:01    1170
01/04/2022 00:34:01    1170
01/04/2022 00:44:01    1170
                       ...
29/04/2022 03:30:01    1418
29/04/2022 03:20:01    1418
29/04/2022 03:10:01    1418
29/04/2022 02:50:02    1418
30/04/2022 23:50:01    1418
Name: stationcode, Length: 3449, dtype: int64

Il y a 1419 stations uniques mais elles ne sont pas toutes enregistrés pour les différents ping time.

## Doublons

In [10]:
df_avril.duplicated().sum()

0

In [11]:
df_avril.loc[df_avril.drop(columns='ping_time').duplicated()]

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
1173,Messine - Place Du Pérou,8026,1,2,"[48.875448033960744, 2.315508019010038]",2022-04-01T00:01:04+02:00,3,8,12.0,OUI,OUI,Paris,OUI,01/04/2022 00:24:01
1175,Cassini - Denfert-Rochereau,14111,2,4,"[48.83752583906732, 2.336035408079624]",2022-04-01T00:02:17+02:00,6,16,25.0,OUI,OUI,Paris,OUI,01/04/2022 00:24:01
1179,Thouin - Cardinal Lemoine,5016,1,0,"[48.84504716661511, 2.3494647851273465]",2022-04-01T00:00:34+02:00,1,16,17.0,OUI,OUI,Paris,OUI,01/04/2022 00:24:01
1181,Chazelles - Courcelles,17025,1,2,"[48.879406604954, 2.3034455627202988]",2022-04-01T00:02:03+02:00,3,32,35.0,OUI,OUI,Paris,OUI,01/04/2022 00:24:01
1182,Beaux-Arts - Bonaparte,6021,1,2,"[48.856451985395786, 2.334851883351803]",2022-04-01T00:02:20+02:00,3,17,20.0,OUI,OUI,Paris,OUI,01/04/2022 00:24:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876154,Perrault - Place du Louvre,1201,0,0,"[48.860273568996, 2.3412468419093]",2022-04-21T17:41:02+02:00,0,0,0.0,NON,NON,Paris,NON,30/04/2022 23:50:01
4876156,Charles de Gaulle - Rue de l'Alma,24010,0,0,"[48.896620592993, 2.252313240191]",2022-04-21T17:43:43+02:00,0,0,0.0,NON,NON,Courbevoie,NON,30/04/2022 23:50:01
4876158,Résistance - Romain Rolland,51007,0,0,"[48.950873482371, 2.2310190077797]",2022-04-21T17:57:45+02:00,0,0,0.0,NON,NON,Argenteuil,NON,30/04/2022 23:50:01
4876218,Port - Maurice Chevalier,41304,0,0,"[48.832024486306, 2.490271087056]",2022-04-21T17:51:39+02:00,0,0,0.0,NON,NON,Nogent-sur-Marne,NON,30/04/2022 23:50:01
4876220,René Boulanger - Lancry,10001,15,18,"[48.8685433, 2.3600032]",2022-04-30T18:12:02+02:00,33,23,62.0,OUI,OUI,Paris,OUI,30/04/2022 23:50:01

Nous avons 2204974 lignes doublons dans notre dataset que nous avons choisi de supprimés

In [12]:
#On récupère les index des lignes qui sont doublons et  nous les supprimons par la suite
dupli_index = df_avril.loc[df_avril.drop(columns='ping_time').duplicated()].index
df_avril = df_avril.drop(dupli_index)

In [13]:
df_avril.loc[df_avril.drop(columns='ping_time').duplicated()]

Empty DataFrame
Columns: [name, stationcode, ebike, mechanical, coordonnees_geo, duedate, numbikesavailable, numdocksavailable, capacity, is_renting, is_installed, nom_arrondissement_communes, is_returning, ping_time]
Index: []

In [14]:
df_avril.shape

(2671257, 14)

### Suppression Romainville - Vaillant-couturier

In [15]:
df_avril.loc[df_avril['stationcode']=='31024']

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
6663,Romainville - Vaillant-Couturier,31024,6,1,"[48.86785, 2.446748]",2022-04-01T00:59:23+02:00,7,31,38.0,OUI,OUI,Montreuil,OUI,01/04/2022 01:14:00
8063,Romainville - Vaillant-Couturier,31024,7,1,"[48.86785, 2.446748]",2022-04-01T00:59:23+02:00,8,30,38.0,OUI,OUI,Montreuil,OUI,01/04/2022 01:24:01
15118,Romainville - Vaillant-Couturier,31024,7,1,"[48.86785, 2.446748]",2022-04-01T02:01:20+02:00,8,30,38.0,OUI,OUI,Montreuil,OUI,01/04/2022 02:14:01
23587,Romainville - Vaillant-Couturier,31024,7,1,"[48.86785, 2.446748]",2022-04-01T03:03:11+02:00,8,30,38.0,OUI,OUI,Montreuil,OUI,01/04/2022 03:14:01
32057,Romainville - Vaillant-Couturier,31024,7,1,"[48.86785, 2.446748]",2022-04-01T04:05:12+02:00,8,30,38.0,OUI,OUI,Montreuil,OUI,01/04/2022 04:14:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4859268,Romainville - Vaillant-Couturier,31024,1,0,"[48.86785, 2.446748]",2022-04-30T21:39:09+02:00,1,37,38.0,OUI,OUI,Montreuil,OUI,30/04/2022 22:00:01
4866359,Romainville - Vaillant-Couturier,31024,1,0,"[48.86785, 2.446748]",2022-04-30T22:34:30+02:00,1,37,38.0,OUI,OUI,Montreuil,OUI,30/04/2022 22:50:01
4867764,Romainville - Vaillant-Couturier,31024,4,0,"[48.86785, 2.446748]",2022-04-30T22:34:30+02:00,4,34,38.0,OUI,OUI,Montreuil,OUI,30/04/2022 23:00:02
4870606,Romainville - Vaillant-Couturier,31024,5,1,"[48.86785, 2.446748]",2022-04-30T22:34:30+02:00,6,32,38.0,OUI,OUI,Montreuil,OUI,30/04/2022 23:20:01
4874872,Romainville - Vaillant-Couturier,31024,4,1,"[48.86785, 2.446748]",2022-04-30T23:38:23+02:00,5,33,38.0,OUI,OUI,Montreuil,OUI,30/04/2022 23:50:01

In [16]:
df_avril.loc[df_avril['coordonnees_geo']=='[48.868054, 2.4470495]']

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
6739,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T00:57:27+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 01:14:00
15194,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T01:58:52+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 02:14:01
23657,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T03:00:48+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 03:14:01
32118,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T04:02:47+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 04:14:01
40578,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T04:57:59+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 05:14:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840895,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T19:38:01+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 19:50:02
4849393,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T20:40:05+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 20:50:01
4857923,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T21:39:09+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 21:50:01
4866424,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T22:37:19+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 22:50:01
4874954,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T23:39:12+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 23:50:01

In [17]:
df_avril.loc[df_avril['name']=='Romainville - Vaillant-couturier']

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
6739,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T00:57:27+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 01:14:00
15194,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T01:58:52+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 02:14:01
23657,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T03:00:48+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 03:14:01
32118,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T04:02:47+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 04:14:01
40578,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-01T04:57:59+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,01/04/2022 05:14:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840895,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T19:38:01+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 19:50:02
4849393,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T20:40:05+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 20:50:01
4857923,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T21:39:09+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 21:50:01
4866424,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T22:37:19+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 22:50:01
4874954,Romainville - Vaillant-couturier,31024_relais,0,0,"[48.868054, 2.4470495]",2022-04-30T23:39:12+02:00,0,0,0.0,OUI,OUI,Montreuil,OUI,30/04/2022 23:50:01

Comme la capacité est égale à 0, nous avons choisi de supprimer les données

In [18]:
romainville_index = df_avril.loc[df_avril['name']=='Romainville - Vaillant-couturier'].index
df_avril = df_avril.drop(romainville_index)

In [19]:
df_avril.shape

(2670581, 14)

## Uniformisation des noms de stations

In [20]:
df_avril.groupby('name')['stationcode'].nunique().sort_values()

name
11 Novembre 1918 - 8 Mai 1945            1
Pierre et Marie Curie - Julien Grimau    1
Pierre Sarrazin - Saint-Michel           1
Pierre Levée - Fontaine Timbaud          1
Pierre Lefaucheux - Traversière          1
                                        ..
Gare de Lyon - Chalon                    1
Gare de Courbevoie                       1
Île de la Jatte                          1
Château - République                     2
Place Nelson Mandela                     2
Name: stationcode, Length: 1418, dtype: int64

In [21]:
df_avril[['name','stationcode','coordonnees_geo']].loc[df_avril['name']=='Château - République']

,name,stationcode,coordonnees_geo
63,Château - République,31706,"[48.8629238005955, 2.415503561496735]"
901,Château - République,22504,"[48.905928, 2.253629]"
1221,Château - République,31706,"[48.8629238005955, 2.415503561496735]"
6700,Château - République,31706,"[48.8629238005955, 2.415503561496735]"
7674,Château - République,22504,"[48.905928, 2.253629]"
...,...,...,...
4870286,Château - République,22504,"[48.905928, 2.253629]"
4870685,Château - République,31706,"[48.8629238005955, 2.415503561496735]"
4874516,Château - République,22504,"[48.905928, 2.253629]"
4874905,Château - République,31706,"[48.8629238005955, 2.415503561496735]"
4875893,Château - République,22504,"[48.905928, 2.253629]"

In [22]:
df_avril[['name','stationcode','coordonnees_geo']].loc[df_avril['name']=='Place Nelson Mandela']

,name,stationcode,coordonnees_geo
19,Place Nelson Mandela,25006,"[48.862090937689715, 2.196576297283173]"
741,Place Nelson Mandela,92006,"[48.897874318180556, 2.2182820737361912]"
6645,Place Nelson Mandela,25006,"[48.862090937689715, 2.196576297283173]"
7549,Place Nelson Mandela,92006,"[48.897874318180556, 2.2182820737361912]"
8048,Place Nelson Mandela,25006,"[48.862090937689715, 2.196576297283173]"
...,...,...,...
4859251,Place Nelson Mandela,25006,"[48.862090937689715, 2.196576297283173]"
4866340,Place Nelson Mandela,25006,"[48.862090937689715, 2.196576297283173]"
4867248,Place Nelson Mandela,92006,"[48.897874318180556, 2.2182820737361912]"
4874852,Place Nelson Mandela,25006,"[48.862090937689715, 2.196576297283173]"
4875730,Place Nelson Mandela,92006,"[48.897874318180556, 2.2182820737361912]"

In [23]:
df_avril.groupby('stationcode')['name'].nunique().sort_values()

stationcode
10001    1
28005    1
28001    1
27006    1
27005    1
        ..
16116    1
16136    1
92008    1
44013    2
13117    2
Name: name, Length: 1418, dtype: int64

In [24]:
df_avril[['name','stationcode']].loc[df_avril['stationcode']=='13117']

                                                      name stationcode
564                               Stade Georges Carpentier       13117
4957                              Stade Georges Carpentier       13117
7280                              Stade Georges Carpentier       13117
8714                              Stade Georges Carpentier       13117
12951                             Stade Georges Carpentier       13117
...                                                    ...         ...
4859960  Station Paris Basketball - Stade Georges Carpe...       13117
4865582  Station Paris Basketball - Stade Georges Carpe...       13117
4867039  Station Paris Basketball - Stade Georges Carpe...       13117
4868460  Station Paris Basketball - Stade Georges Carpe...       13117
4875532  Station Paris Basketball - Stade Georges Carpe...       13117

[1936 rows x 2 columns]

In [25]:
df_avril[['name','stationcode']].loc[df_avril['stationcode']=='44013']

                                      name stationcode
153       Edouard Tremblay - Julian Grimau       44013
2276      Edouard Tremblay - Julian Grimau       44013
5610      Edouard Tremblay - Julian Grimau       44013
6795      Edouard Tremblay - Julian Grimau       44013
8213      Edouard Tremblay - Julian Grimau       44013
...                                    ...         ...
4849519  Edouard Tremblay - Julian Grimaux       44013
4858014  Edouard Tremblay - Julian Grimaux       44013
4865114  Edouard Tremblay - Julian Grimaux       44013
4866511  Edouard Tremblay - Julian Grimaux       44013
4875037  Edouard Tremblay - Julian Grimaux       44013

[1127 rows x 2 columns]

In [26]:
df_avril[['name','stationcode', 'capacity']].loc[df_avril['stationcode']=='10008']

                                 name stationcode  capacity
812      Cité Riverin - Château d'Eau       10008      18.0
2969     Cité Riverin - Château d'Eau       10008      18.0
6263     Cité Riverin - Château d'Eau       10008      18.0
7566     Cité Riverin - Château d'Eau       10008      18.0
9019     Cité Riverin - Château d'Eau       10008      18.0
...                               ...         ...       ...
4867331  Cité Riverin - Château d'Eau       10008      18.0
4868720  Cité Riverin - Château d'Eau       10008      18.0
4870101  Cité Riverin - Château d'Eau       10008      18.0
4874394  Cité Riverin - Château d'Eau       10008      18.0
4875810  Cité Riverin - Château d'Eau       10008      18.0

[2240 rows x 3 columns]

### Correction des erreurs d'orthographe dans les noms de station

In [27]:
dict_nom = {'Edouard Tremblay - Julian Grimau' : 'Edouard Tremblay - Julian Grimaux',
            'Stade Georges Carpentier' : 'Station Paris Basketball - Stade Georges Carpentier'}

df_avril['name'] = df_avril['name'].replace(dict_nom)

In [28]:
df_avril[['name','stationcode']].loc[df_avril['stationcode']=='44013']

                                      name stationcode
153      Edouard Tremblay - Julian Grimaux       44013
2276     Edouard Tremblay - Julian Grimaux       44013
5610     Edouard Tremblay - Julian Grimaux       44013
6795     Edouard Tremblay - Julian Grimaux       44013
8213     Edouard Tremblay - Julian Grimaux       44013
...                                    ...         ...
4849519  Edouard Tremblay - Julian Grimaux       44013
4858014  Edouard Tremblay - Julian Grimaux       44013
4865114  Edouard Tremblay - Julian Grimaux       44013
4866511  Edouard Tremblay - Julian Grimaux       44013
4875037  Edouard Tremblay - Julian Grimaux       44013

[1127 rows x 2 columns]

## Format date

In [29]:
df_avril['duedate'] = pd.to_datetime(df_avril['duedate'])
df_avril['duedate'] = df_avril['duedate'].dt.strftime('%Y-%m-%d %H:%M:%S')

# Création de colonne

In [30]:
#Ratio des disponibilités : ([Nb bornes disponibles] / [Nombres de bornes en station])
df_avril['dispo_velo'] = df_avril['numbikesavailable']/df_avril['capacity']
df_avril['seuil_velo'] = 1/df_avril['capacity']
df_avril['dispo_bornette'] = df_avril['numdocksavailable']/df_avril['capacity']

#capcité des stations plus que les valeurs théorique attendus 
df_avril['capacity_calc'] = df_avril['numbikesavailable'] + df_avril['numdocksavailable']

In [31]:
df_avril.shape

(2670581, 18)

In [32]:
df_avril.loc[df_avril['capacity']!=(df_avril['numbikesavailable'] + df_avril['numdocksavailable'])]

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time,dispo_velo,seuil_velo,dispo_bornette,capacity_calc
2,Mairie du 12ème,12109,12,15,"[48.84085531176338, 2.3875549435615544]",2022-04-01 00:04:03,27,0,30.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01,0.900000,0.033333,0.000000,27
3,André Karman - République,33006,6,3,"[48.91039875761846, 2.3851355910301213]",2022-04-01 00:00:45,9,20,31.0,OUI,OUI,Aubervilliers,OUI,01/04/2022 00:14:01,0.290323,0.032258,0.645161,29
5,Pierre et Marie Curie - Maurice Thorez,42016,7,1,"[48.81580226360801, 2.376804985105991]",2022-04-01 00:03:35,8,18,27.0,OUI,OUI,Ivry-sur-Seine,OUI,01/04/2022 00:14:01,0.296296,0.037037,0.666667,26
7,Alibert - Jemmapes,10013,11,18,"[48.8710440519842, 2.366104461987773]",2022-04-01 00:04:44,29,29,60.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01,0.483333,0.016667,0.483333,58
9,Messine - Place Du Pérou,8026,1,2,"[48.875448033960744, 2.315508019010038]",2022-04-01 00:01:04,3,8,12.0,OUI,OUI,Paris,OUI,01/04/2022 00:14:01,0.250000,0.083333,0.666667,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876243,Gare Saint-Lazare - Cour du Havre,8002,7,15,"[48.87567440085132, 2.3265598341822624]",2022-04-30 23:40:18,22,15,45.0,OUI,OUI,Paris,OUI,30/04/2022 23:50:01,0.488889,0.022222,0.333333,37
4876244,Aristide Briand - Place de la Résistance,21302,4,23,"[48.82124248401006, 2.2511002421379094]",2022-04-30 23:40:04,27,6,25.0,OUI,OUI,Issy-les-Moulineaux,OUI,30/04/2022 23:50:01,1.080000,0.040000,0.240000,33
4876245,Quai des Célestins - Henri IV,4005,5,14,"[48.8512971, 2.3624535]",2022-04-30 23:38:03,19,2,14.0,OUI,OUI,Paris,OUI,30/04/2022 23:50:01,1.357143,0.071429,0.142857,21
4876247,Simone Signoret - Paris,31303,6,8,"[48.903600624712865, 2.465406596265139]",2022-04-30 23:41:20,14,13,28.0,OUI,OUI,Noisy-le-Sec,OUI,30/04/2022 23:50:01,0.500000,0.035714,0.464286,27
4876248,Gare de l'Est - Chateau Landon,10026,1,0,"[48.879305, 2.362424]",2022-04-30 23:37:59,1,56,59.0,OUI,OUI,Paris,OUI,30/04/2022 23:50:01,0.016949,0.016949,0.949153,57

# Exportation Finale

In [33]:
df_avril.shape

(2670581, 18)

In [35]:
df_avril.to_csv('Avril_2022_clean.csv', index=False)
print('***Exported***')

***Exported***

## Répartition des stations pour faciliter la préparation

In [36]:
list_station = list(df_avril['stationcode'].unique())
list_station[:472]

['9020',
 '5110',
 '12109',
 '33006',
 '5001',
 '42016',
 '14014',
 '10013',
 '7003',
 '8026',
 '7001',
 '14111',
 '7002',
 '6003',
 '5016',
 '17025',
 '21010',
 '13101',
 '6021',
 '25006',
 '15026',
 '17026',
 '47007',
 '17038',
 '19033',
 '17041',
 '20143',
 '11025',
 '15047',
 '22207',
 '13030',
 '14108',
 '19027',
 '17044',
 '31028',
 '17048',
 '43002',
 '2017',
 '9008',
 '15068',
 '8103',
 '7004',
 '7011',
 '92002',
 '6029',
 '48003',
 '44017',
 '16110',
 '43009',
 '9001',
 '14013',
 '10115',
 '18111',
 '10029',
 '7018',
 '5022',
 '9014',
 '9038',
 '1001',
 '17032',
 '31103',
 '6001',
 '10162',
 '31706',
 '13118',
 '22409',
 '10025',
 '41303',
 '19015',
 '12031',
 '8036',
 '9002',
 '9106',
 '92007',
 '17040',
 '16026',
 '8009',
 '9028',
 '19105',
 '17008',
 '11027',
 '15112',
 '16039',
 '5020',
 '17012',
 '12111',
 '26003',
 '17004',
 '43401',
 '19003',
 '6006',
 '12151',
 '14003',
 '17043',
 '11002',
 '21212',
 '11023',
 '42706',
 '20112',
 '11047',
 '19044',
 '8034',
 '18011',
 '20042',
 '13001',
 '5032',
 '44006',
 '14020',
 '19120',
 '15067',
 '5004',
 '26002',
 '21306',
 '12128',
 '14138',
 '46003',
 '19101',
 '41209',
 '18003',
 '10024',
 '11113',
 '18028',
 '10016',
 '42014',
 '33017',
 '5018',
 '8017',
 '43008',
 '15054',
 '33102',
 '15106',
 '8045',
 '5124',
 '15104',
 '2111',
 '22202',
 '21209',
 '19103',
 '18022',
 '14012',
 '15105',
 '35010',
 '18031',
 '14124',
 '14008',
 '15133',
 '15110',
 '18046',
 '22406',
 '20131',
 '35002',
 '31008',
 '44003',
 '44013',
 '41404',
 '8054',
 '15109',
 '41202',
 '21005',
 '31708',
 '21006',
 '35020',
 '21015',
 '31003',
 '15034',
 '22402',
 '9116',
 '42021',
 '21008',
 '11030',
 '1119',
 '11026',
 '25003',
 '13050',
 '20115',
 '32604',
 '11039',
 '17013',
 '11105',
 '17031',
 '15103',
 '5106',
 '8057',
 '9010',
 '17125',
 '15021',
 '19032',
 '17105',
 '20134',
 '18009',
 '19022',
 '41601',
 '14110',
 '14136',
 '16108',
 '8025',
 '43005',
 '32302',
 '16136',
 '42010',
 '24001',
 '46001',
 '10014',
 '42302',
 '9032',
 '5123',
 '11042',
 '11035',
 '32003',
 '15046',
 '9005',
 '42301',
 '22006',
 '42015',
 '17028',
 '15201',
 '21301',
 '43003',
 '21104',
 '19016',
 '11036',
 '7102',
 '18012',
 '15013',
 '19125',
 '19013',
 '14036',
 '1002',
 '18201',
 '11004',
 '42504',
 '32303',
 '20111',
 '32016',
 '21313',
 '9021',
 '6013',
 '31010',
 '16111',
 '7015',
 '8013',
 '19005',
 '92008',
 '14021',
 '12009',
 '11115',
 '19008',
 '32602',
 '23009',
 '41606',
 '11007',
 '17011',
 '42029',
 '43402',
 '28001',
 '33018',
 '10113',
 '17102',
 '24002',
 '15025',
 '14117',
 '35018',
 '18141',
 '18110',
 '12115',
 '17045',
 '33003',
 '12013',
 '5021',
 '12027',
 '25005',
 '22505',
 '41102',
 '32010',
 '16018',
 '19004',
 '15010',
 '16124',
 '12034',
 '20043',
 '7009',
 '33009',
 '15033',
 '13045',
 '33019',
 '19115',
 '14034',
 '33001',
 '17042',
 '16034',
 '15122',
 '14019',
 '12029',
 '21403',
 '5114',
 '12030',
 '19019',
 '42207',
 '5119',
 '20036',
 '92003',
 '13014',
 '31705',
 '17007',
 '8055',
 '21502',
 '27002',
 '14001',
 '21109',
 '12126',
 '23701',
 '42023',
 '35019',
 '16129',
 '20113',
 '14104',
 '12024',
 '17018',
 '20136',
 '15017',
 '43006',
 '15029',
 '15028',
 '8102',
 '5002',
 '8012',
 '10005',
 '14018',
 '5116',
 '21013',
 '92004',
 '42503',
 '18020',
 '23011',
 '5026',
 '21308',
 '2010',
 '21111',
 '17017',
 '7006',
 '21105',
 '11114',
 '15055',
 '14130',
 '8101',
 '13026',
 '34002',
 '23002',
 '7014',
 '14139',
 '12011',
 '13102',
 '21019',
 '11101',
 '6107',
 '16006',
 '6103',
 '10023',
 '19109',
 '6018',
 '32014',
 '19037',
 '17124',
 '20109',
 '15038',
 '10165',
 '31019',
 '31016',
 '18032',
 '44012',
 '8051',
 '51003',
 '13043',
 '9115',
 '11020',
 '16123',
 '12001',
 '19039',
 '21032',
 '16032',
 '14122',
 '20027',
 '44102',
 '15108',
 '21003',
 '26001',
 '17047',
 '18025',
 '6016',
 '17122',
 '11040',
 '41204',
 '20021',
 '19040',
 '17121',
 '19009',
 '18109',
 '17046',
 '18029',
 '47006',
 '10020',
 '21706',
 '6030',
 '18113',
 '15035',
 '19038',
 '20118',
 '16021',
 '9031',
 '16015',
 '20023',
 '15070',
 '18049',
 '47004',
 '31703',
 '9026',
 '15031',
 '21001',
 '21014',
 '11010',
 '35014',
 '16122',
 '11041',
 '15002',
 '11006',
 '23007',
 '19127',
 '32015',
 '12107',
 '10010',
 '14112',
 '5121',
 '18033',
 '32004',
 '20016',
 '16043',
 '32001',
 '18043',
 '7008',
 '1117',
 '42703',
 '16027',
 '20201',
 '1120',
 '16112',
 '16029',
 '12004',
 '8019',
 '15003',
 '9017',
 '4110',
 '18008',
 '6032',
 '14030',
 '13046',
 '7020',
 '22102',
 '10114',
 '8001',
 '18202',
 '10033',
 '17022',
 '31704',
 '20030',
 '21024',
 '6017',
 '32603',
 '7013',
 '10036',
 '8038',
 '14028',
 '8056']

In [37]:
#Répartition Kamala
df_kamala = df_avril.loc[df_avril['stationcode'].apply(lambda x: x in list_station[:472])]

df_kamala.to_csv('df_kamala.csv', index=False)

In [38]:
df_nassriat = df_avril.loc[df_avril['stationcode'].apply(lambda x: x in list_station[472:945])]
df_nassriat.to_csv('df_nassriat.csv', index=False)

In [39]:
df_tharsana = df_avril.loc[df_avril['stationcode'].apply(lambda x: x in list_station[945:])]
df_tharsana.to_csv('df_tharsana.csv', index=False)